:root {
  /* Primary colors */
  --primary-color: #263238;
  --primary-light-color: #4f5b62;
  --primary-dark-color: #000a12;

  /* Secondary Colors */
  --secondary-color: #fff;
  --secondary-light-color: #fff;
  --secondary-light-color: #fff;

  /* Bases Colors */
  --surface-color: #FFF;
  --background-color: #FFF;
  --error-color: #B00020;
  --inactive-color: rgba(0, 0, 0, .5);
  --disabled-color: rgba(0, 0, 0, .2);

  /* Text Colors */
  --on-primary-color: #fff;
  --on-secondary-color: #000;
  --on-background-color: #000;
  --on-error-color: #fff;
  --on-surface-color: #f5f5f5;
}
